@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');

.container {
    margin-right: 10em;
}

.title {
    font-family: Arial Black;
    font-size: 25px;
    color: orange;
    text-shadow: -1px 0 #606f92, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68;
}

button {
    background-color: orange;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

input {
    border-radius: 10px;
    border: 1px solid #606f92;
    padding: 9px;
    margin: 5px;
}

label {
    font-size: 15px;
    font-family: 'Arial Black';
    padding-bottom: 10px;
}

.titles {
    font-size: 22px;
    font-family: 'Jaro', Arial;
    color: #333333;
}

select {
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    border: 1px solid #606f92;
}

.pathContent {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}